:root {
    --primary-color: #003DA5;
    --secondary-color: #FFB81C;
    --accent-color: #FED141;
    --light-color: #fefefe;
    --dark-color: #333333;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}