:root {
    --primary-color: hsl(218, 100%, 32%);
    --primary-color-2: hsl(218, 100%, 70%);
    --primary-color-3: hsl(218, 100%, 95%);
    --secondary-color: hsl(41, 100%, 55.5%);
    --secondary-color-2: hsl(41, 100%, 70%);
    --secondary-color-3: hsl(41, 100%, 95%);
    --accent-color: #FED141;
    --light-color: #fefefe;
    --dark-color: #333333;
}

h1 {
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: auto;
    width: fit-content;
    border-radius: 8px;
    padding: 0px 32px;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

button#search {
    float: right;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--dark-color);
    border: none;
    font-size: 1.5em;
    margin-right: 16px;
    margin-top: 8px;
}
button#search:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

#pagination {
    margin-top: 8px;
}

#prevButton,
#nextButton {
    background-color: var(--accent-color);
    border-radius: 8px;
    color: var(--dark-color);
    border: none;
}
#prevButton:hover,
#nextButton:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

#setPage {
    width: 4em;
}